<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>direccion</key>
	<array>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>tc</string>
		<string>sp</string>
		<string>c</string>
		<string>pc</string>
	</array>
	<key>perfil</key>
	<array>
		<string>pos</string>
		<string>sas</string>
		<string>oh</string>
		<string>pm</string>
		<string>tpa</string>
		<string>mnu</string>
		<string>np</string>
	</array>
</dict>
</plist>
