
@CHARSET "UTF-8"; 
/* @media  screen and (min-width: 641px){ */

@font-face{
	font-family: "Avenir";
	src:url("../font/avenir.eot") format("truetype");
	
}
@font-face{
	font-family: "Avenir";
	src:url("../font/avenir.ttf") format("truetype");
	
}
 
.body {   
	font-size: 12px;
	font-family: "Avenir", Helvetica;
	width: 100%; 
	overflow:hidden; 
	
} 

 
div#ContenedorGeneral {
	width: 490px; 
	position: relative;
	/*opacity: 0.9; Opacidad de 50%*/
	background-color: #FFFFFF;
	margin-bottom: 5px; 
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px; 
}

div#mapa{
		background-color: #ffffff;
		margin:0 auto;  
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px; 
		margin-bottom: 5px;
	}
	
#photo {
	width:125px; 
	margin: 16px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255); 
	box-shadow: 1px 1px 3px rgb(136, 136, 136);
	overflow: hidden;
}

#photoDef {
	width:60%; 
	margin: 16px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255); 
	overflow: hidden;
} 

div#container {
	margin: 0 auto;
	width: 490px;
	position: relative;/* 
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px; */
}

#contenedor-Contacto {
	width: 490px;
	overflow:hidden; 
   text-align:center; 
	/* margin-left: 18px; */
}

#contenedor {
	width: 490px;
	height: auto;
	margin:0 auto;
	position: relative;
	background-color: #ffffff;
	margin-bottom: 5px;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px; 
}
div#descCorta{
	width: 470px;
	padding: 10px 20px 10px 20px;
}

#title-domain {
	font-size: 30px;
    font-family: "Avenir", Helvetica;
	color: #111111 !important;
}

#shortDesc{
	 font-size: 22px; 
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
}

 #contenedorMapa {
	width:490px;
    margin: 0 auto;
	position: relative;
	background-color: #ffffff; 
	-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px; 
} 

#iMapa{
	width: 450px; 
	height:450px; 
	margin:10px 10px 10px 18px;
	border-width: 1px;
	border-style: solid;
}
#iVideo {
	  width:95%; 
	 height:400px;
	 margin-bottom: 10px;
	 border-width: 1px;
	 border-style: solid;
}

#map_canvas {
	 height: 400px; 
	 width: 400px;
	 margin: 0 auto;

} 

div#article{
	   /* float:left;
	   width:33%; */
	   margin: 0 auto;
	}
	 
div.info{
   word-wrap: break-word; 
   max-width:250px; 
   width:250px;  
   margin-left: 10px;
}
 

#contenedor-compartir {
	width: 300px;
	margin-left: 80px;
	margin-bottom: 20px;
	text-align: center;
}

.media {
	width: 450px;
	height: 400px;
}

table#compartir {
	margin-left: 1px;
}

#contenedor-compartir div {
	width: 100px;
}

#contenedor-Offer {
	width: 450px;
	margin-left: 18px;
}

#boton-contenedor { 
	/* margin-left: 10%; */
	float: right;
	margin-right: 15%;
}

#contenedor-share {
	width: 490px; 
	position: relative;
	background-color: transparent;
	margin-bottom: 20px;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
}

#contenedor-video {
	width: 450px;
	margin-left: 18px;
	position: relative;
	background-color: #e6e6e6;
	margin-bottom: 20px;
}


#contenedor-data {
	width: 330px;
	margin-left: 89px; 
	/* text-align: justify; */
	
}
#subcontenedor-data{
	width: 200px;  
}

#contenedor-data-c {
	width: 347px;
	margin-left: 65px;
}

#contenedor-data-boton {
	
	margin-left: 275px;
}
#datoContacto{
	width:260px;
}    

#text_icono {
	font-size: 16px; 
	font-family: "Avenir", Helvetica;
	text-align: center;
	color: rgb(1, 1, 1) !important;
}

.text_desc {
	font-size: 14px;
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
	margin-bottom: 2px;
}

.title_galery {
	background: #3D393A;
	width: 455px; 
	margin: 0 auto;
}


.imagen-galery {
	width: 445px;
	margin:1px 5px 5px 5px; 
}

.align_title_galery {
	font-size: 14px; 
	font-family: "Avenir", Helvetica;
	color: rgb(255, 255, 255) !important;
	margin-left: 15px;
}

div#footer {
	font-size: 15px;
	font-family: "Avenir", Helvetica;
	background: #3D393A;
	color: rgb(255, 255, 255) !important;
 	width: 490px;   
	height: auto;
	text-align: center;  
	margin: 0 auto; 
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px; 
	margin-bottom: 10px;
}

.text_desc_terminos {
	font-size: 11px; 
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
}

div#text_icono_contenedor {
	font-size: 20px; 
	font-family: "Avenir", Helvetica;
	color: rgb(128, 128, 128) !important;
	margin-left: 20px;
	width: 250px;
	font-weight: bold;
	
}
 
#tilte-contact {
	font-size: 17px; 
	font-family: "Avenir", Helvetica;
	color: #111111;
}
#desc-contact{
	font-size: 13px;/* 
	font-weight: none; */
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	word-wrap: break-word;
	text-align: left;
	
}
a#disponibilidad-contact {
	margin-left: 85px; 
	font-family: "Avenir", Helvetica;
	font-size: 14px;
}

div#text_cont {
	width: 300px;
}

#align_desc_cont { 
	float:left;
	margin-right: 5px;
	font-family: "Avenir", Helvetica;
}

.align_desc_cont_sub { 
	font-size: 15px;
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
	word-wrap: break-word;
	text-align: justify;
}

#text_icono_Offer {
	font-size: 17px; 
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	width: 300px;
	float: center; 
 	margin-left: 20px; 
}

div#iconos {
	font-size: 12px;
	font-family: "Avenir", Helvetica;
	text-align: center;
	color: rgb(111, 111, 111) !important;
	margin: 0 auto;
}

div#icon-share {
	/* font-size: 12px;
	font-family: "Avenir", Helvetica;
	text-align: center;
	margin-left: 10px; */
	/* width: 16.6%;
	float: left; */
	margin: 0 auto;
	
}

div#header {
	background: #E30747;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	position: relative;
}


.btn {
	width:80px;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
	background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: "Avenir", Helvetica;
	color: #a6a6a6;
	font-size: 14px; 
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}

.btn:hover {
	background: #e6e6e6;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
	text-decoration: none;
}

.btncontact { 
	width: 85px;
	background: #97d92e;
	background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
	background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
	background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
	background-image: -o-linear-gradient(top, #97d92e, #90c53f);
	background-image: linear-gradient(to bottom, #97d92e, #90c53f);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: "Avenir", Helvetica;
	color: #ffffff;
	font-size: 14px;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	
}

.btncontact:hover {
	background: #b0ff30;
	background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
	background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
	background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
	background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
	background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
	text-decoration: none;
}
.clr{ 
	clear:both;
	height:4px !important;
	padding:0 !important;
	margin:0 !important; 
	}
	
/* div.info h1 {
	font: 34px/36px "Avenir", Helvetica;
	color:  rgb(60, 74, 151);
	margin-bottom: 50px;
} */

/* h1,h2,h3,h4 {
	margin: 10px;
	padding: 0px;
	font-family: "Avenir", Helvetica;
} */

div#header div.show-content {
	position: absolute;
	bottom: 7px;
	right: 10px;
	display: none;
}

div#compartir {
	/* padding: 10px 108px; */
	width:490px;
	text-align: center;
	height: auto;
}

#compartirText{
	margin-bottom: 10px; 
	font-size: 20px; 
	font-family: "Avenir", Helvetica; 
	color: rgb(128, 128, 128) !important;
	font-weight: bold;
}


div.group-separator {
	display: none;
}

div.databox-ctr {
	overflow: hidden;
	padding: 6px 0px;
} 

 #offer-panel {
	margin: 5px 35px 5px;
	background: none repeat scroll 0% 0% rgb(227, 7, 71);
	border-radius: 14px;
	padding: 8px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	position: relative;
} 

#offer-panel div.wrapper {
	background:#FFFFFF;
	border-radius: 10px;
	padding: 10px 15px;
	overflow: hidden;
}

#offer-panel div.wrapper div.image {
	float: left;
	width: auto;
	padding: 0px 15px 15px 0px;
} 
 
.line {
	padding: 4px 10px 10px 50px;
	text-align: center;
}

dd.keywords {
	margin: 8px 0px 5px;
	line-height: 115%;
	color: rgb(111, 111, 111);
}

 
.division {
	width: 450px;
	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: rgb(111, 111, 111) !important; 
	margin: 0 auto;
}

.divisionContacto {
	width: 370px;
	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: rgb(111, 111, 111) !important;
	 margin: 0 auto 10px; 
}
.photoOffer {
	width: 100px;
	float: left;
	margin: 1px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255);
	-moz-border: 3px solid rgb(255, 255, 255);
	-webkit-border: 3px solid rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgb(136, 136, 136);
	overflow: hidden;
}

#CSSTableGenerator { 
	width: 65%;
	text-align: center; 
	
} 
td.horarios{
	border-bottom : 1px; 
	border-bottom: solid; 
	border-bottom-color: #3D393A;
}
#linksCompartir{
	 width:90%;
	 margin-left:5%;
}
/* a:link {text-underline;color: #FFFFFF; color: #FFFFFF;} Link no visitado
a:visited {text-decoration:none; color:#FFFFFF} Link visitado
a:active {text-decoration:none; color:#FFFFFF; background:#3D393A} Link activo
a:hover {text-decoration:none; background: #3D393A} Mause sobre el link */
 
/* } */

/*********************************************************************  @media screen and (max-width: 640px) and (min-width: 320px)*/

@media screen and (max-width: 640px) and (min-width: 320px){
	@font-face{
	font-family: "Avenir";
	src:url("../font/Avenir LT 45 Book.otf") format("truetype");
	
	}

	  html,body { 
 		display: block;
  		overflow-x:hidden; 
  		margin: 0;
  	 } 
  	 
	.body {
		min-width: 320px;
		backgrond-color: #ece7e4;  
		width: 100%; 
	}
	.bg-image {
		left: 0px;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: -10;
	}
	div.info{
	   word-wrap: break-word; 
	   max-width:90%; 
	   width:90%; 
	   margin-left: 20px;
	}
	#photo { 
		width:95%;
		float: left;
		margin: 10% 10%; 
		border: 3px solid rgb(255, 255, 255); 
		box-shadow: 1px 1px 3px rgb(136, 136, 136);
		overflow: hidden;
	}
	
	#photoDef {
	width:100%; 
	margin: 16px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255); 
	overflow: hidden;
}
	div#ContenedorGeneral {
		width: 95%; 
		margin: 0 auto;   
		/*opacity: 0.85;  Opacidad de 50% */
		/*background:repeat #ffffff;*/
		 margin-bottom: 1%;
		
	}
	div#container {
		width: 100%;   
		margin-top: 2%;
	}
	#contenedor {
		width: 95%; 
		position: relative;
		background-color: #ffffff;
		margin-bottom: 1%;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		/*opacity: 0.85;  Opacidad de 50% */
	}
	
	
	#contenedorMapa {
	width:95%;
	height: auto; 
	position: relative;
	background-color: #ffffff; 
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	margin-bottom: 1%;
}
	#map_canvas{
	height: 250px; 
	 width: 95%; 
	} 

#iMapa{
	width: 95%; 
	height:300px; 
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:3%;
	margin-top: 3%;
	border-width: 1px;
	border-style: solid;
}
#iVideo {
	  width:95%; 
	 height:250px;
	 margin-bottom: 3%;
	 border-width: 1px;
	 border-style: solid;
}
	
	#contenedor-share {
		width: 95%; 
		position: relative;
		background-color: transparent;
		margin-bottom: 5%;
		/* margin-left: 2.5%; */
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	#contenedor-Contacto {
		width: 95%;
		overflow:hidden; 
   		text-align:center; 
		/* position: relative;
		background-color: transparent; */
		margin: 1% auto; 
		/* margin-width:2.5%  */ 
	}
	div#article{
	   /* float:left;
	   width:33%; */
	   margin: 0 auto;
	} 
	
	.clr{ 
	clear:both;
	height:3px !important;
	padding:0 !important;
	margin:0 !important; 
	} 
	div#iconos { 
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;  
		margin: 0 auto;
	}
	#title-domain {
		font-size: 160%! important;
		font-family: "Avenir", Helvetica;
		color: #111111 !important; 
	}
	div#descCorta{
	width: 90%;
	padding: 10px 20px 10px 20px;
} 
	#shortDesc{
		 font-size: 120% !important;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
	}
	
	/* div */#text_icono {
		font-size: 100%; 
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(1, 1, 1) !important;
	}
	
	.media {
		width: 95%; 
		height: 220%;
	}
	div.databox-map {
		width: 95%;
		height: 200px;   
		background-color: rgb(243, 244, 243);  
		margin-left: 2.5%;  
	} 
	.division {
		width: 95%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(111, 111, 111) !important;  
		margin: 0 auto;
	}
	.divisionContacto {
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: rgb(111, 111, 111) !important;
	 margin: 0 auto 10px; 
}

	 div#mapa {
	  width:95%; 
	 margin:0 auto;
	 background: #ffffff; 
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px; 
	} 
	
	div#contact {
		font-size: 15px; 
		padding: 0px 15px; 
		margin-bottom: 0px;
		color: rgb(60, 74, 151) !important;
		text-align: justify;
	}
	#offer-panel {
		margin: 1% 5% 1%;
		background: none repeat scroll 0% 0% rgb(227, 7, 71);
		border-radius: 14px;
		padding: 8px; 
		color: rgb(0, 0, 0);
		position: relative;
	}
	#offer-panel div.wrapper {
		background:#FFFFFF;
		border-radius: 10px;
		padding: 5% 1%;
		overflow: hidden;
	}
	#contenedor-Offer {
		width: 95%;
		margin-left: 2.5%;
	}
	div#text_icono_contenedor {
		font-size: 120%; 
		font-family: "Avenir", Helvetica;
		color: rgb(128, 128, 128) !important;
		margin-left: 5%; 
		width:90%;
		font-weight:bold;
	}
	#text_icono_Offer {
	font-size: 120%; 
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	width: 95%;
	float: center; 
	 margin-left: 5%; 
}
	#boton-contenedor {
		float: right;
		margin-right: 15%;
		/* margin-left: 15%;  */
	}
	#photoOffer{
		width: 100%;
		float: left;
		margin: 1%  5% 10%;
		border: 3px solid rgb(255, 255, 255);
		-moz-border: 3px solid rgb(255, 255, 255);
		-webkit-border: 3px solid rgb(255, 255, 255);
		box-shadow: 1px 1px 3px rgb(136, 136, 136);
		-moz-box-shadow: 1px 1px 3px rgb(136, 136, 136);
		-webkit-box-shadow: 1px 1px 3px rgb(136, 136, 136);
		overflow: hidden;
	}
	.text_desc {
		font-size: 80%; 
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		margin-bottom: 2px;
	}
	.text_desc_terminos {
		/*font-size: 60%; */
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
	}
	.btn {
		width:85px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%;
		font-weight: none;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width:91px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	}
	.title_galery {
		background: #3D393A; 
		width:95%;
		height: 10%;
		margin-left:2.5%;
	}
	.align_title_galery {
		font-size: 100%; 
		font-family: "Avenir", Helvetica;
		color: rgb(255, 255, 255) !important;
		margin-left: 15px;
	}
	.imagen-galery {
		width: 98%;
		margin-left:1%;
		margin-bottom: 1%;
		/* border-left:groove 3px #3D393A; 
		border-bottom:groove 3px #3D393A; 
		border-right:groove 3px #3D393A;  */
		
	}
	#align_desc_cont { 
		float:left;
		margin-right: 2%;
		font-family: "Avenir", Helvetica;
	}
	
	.align_desc_contacto { 
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		font-size: 110%;
		margin-left: 20%;
	}
	.align_desc_cont_sub { 
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		word-wrap: break-word;
	}
	#CSSTableGenerator { 
		 width: 78%; 
		text-align: center; 
	}
	td.horarios{
	border-bottom : 1px; 
	border-bottom: solid; 
	border-bottom-color: #3D393A;
}
	#contenedor-data {
		width: 70%;
		/* text-align: justify;  */
		margin-left: 23%;
		
	}
	#contenedor-data-c {
		width: 65%;
		margin-left: 23%; 
	}
	#datoContacto{
		width:65%;
	}
	#contenedor-data-boton { 
		/* margin-left: 65%; */
		float: right;
	}
	
	#tilte-contact {
		font-size: 110%; 
		font-family: "Avenir", Helvetica;
		color: #111111 ;
	}
	#desc-contact{
	font-size: 80%;
	/* font-weight: none; */
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	word-wrap: break-word;
	text-align: left;
	
}
	table#compartir {
		margin-left: 1px;
	}
	
	.table-share{
		width : 33%;
		align : center;
	}
	div#compartir { 
		margin:0 auto;
		text-align: center; 
		width:95%;
		height: auto; 
	}

	div#icon-share { 
		/* font-family: "Avenir", Helvetica;
		text-align: center; */
		/* margin-left: 10%; */
		margin: 0 auto;
	}
	div#footer {
		font-size: 80%;
		font-family: "Avenir", Helvetica;
		background: #3D393A;
		color: rgb(255, 255, 255) !important;
		width: 95%;
		height: 10%;
		text-align: center;   
	}

   td.horarios{
	border-bottom : 1px; 
	border-bottom: solid; 
	border-bottom-color: #3D393A;
}
   .btn {
   		width: 85px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%; 
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width: 91px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	} 
	#iconVideo{
	width:57px;
	}
	
	#imgModulo{
	 width: 55px;
	}
	 
	#linksCompartir{
	 width:90%;
	 margin-left:3%;
	}
	}

@media  screen and (max-width: 319px) and (min-width: 240px){
	@font-face{
	font-family: "Avenir";
	src:url("../font/Avenir LT 45 Book.otf") format("truetype");
	
}

	 html,body { 
 
  	overflow-x:hidden; 
  	width: 100%;
	position: fixed;
	margin:0;
	padding: 0;
	overflow:hidden; 
  	 }   
  	  
	.body {
		min-width: 320px;
		backgrond-color: #ece7e4; 
		font-family: "Avenir", Helvetica;
		width: 100%;
		position: fixed;
	}
	.bg-image {
		left: 0px;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: -10;
	}
	div.info{
	   word-wrap: break-word; 
	  max-width:150px; 
	   width:150px;
	   margin-left: 10px;
	}
	#photo { 
		width:95%;
		float: left;
		margin: 10% 10%; 
		border: 3px solid rgb(255, 255, 255); 
		
		overflow: hidden;
	}
	
	#photoDef {
	width:100%; 
	margin: 16px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255); 
	overflow: hidden;
}
	div#ContenedorGeneral {
		width: 95%;
		margin:0 auto; 
		/*opacity: 0.85; Opacidad de 50%*/
		background-color: #ffffff;
		margin-bottom: 3%;/* 
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px; */
	}
	div#container {
		width: 100%;
		position: relative;/* 
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px; */
		margin-top:2%;
	}
	#contenedor {
		width: 95%; 
		position: relative;
		background-color: #ffffff;
		margin-bottom: 3%;
		margin-left: 2.5%;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	
	
	#contenedorMapa {
		width:95%;
		height: auto; 
		position: relative;
		background-color: transparent;
		/* margin-bottom: 20px; */
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		margin-bottom: 3%;
	}
	
	#iMapa{
	width: 95%; 
	height:300px; 
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:3%;
	margin-top: 3%;
	border-width: 1px;
	border-style: solid;
}
#iVideo {
	  width:95%; 
	 height:250px;
	 margin-bottom: 3%;
	 border-width: 1px;
	 border-style: solid;
}
	 div#mapa {
	  width:95%; 
	 margin:0 auto;
	 background: #ffffff; 
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px; 
	} 
	
	.clr{ 
	clear:both;
	height:4px !important;
	padding:0 !important;
	margin:0 !important; 
	}
	#contenedor-share {
		width: 95%; 
		position: relative;
		background-color: transparent;
		margin-bottom: 5%;
		/* margin-left: 2.5%; */
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	#contenedor-Contacto {
		width: 95%;
		overflow:hidden; 
   		text-align:center; 
		/* position: relative;
		background-color: transparent; */
		margin: 1% auto; 
		/* margin-width:2.5%   */
	}
	div#article{
	  /*  float:left;
	   width:33%; */
	   margin: 0 auto;
	}
	/* #contenedor-Contacto div {
		width: 95%;   
		margin-left: 5%; 
	} */
	
	div#iconos { 
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;  
		margin: 0 auto;
	}
	#title-domain {
		font-size: 160% !important; 
		font-family: "Avenir", Helvetica;
		color: #111111 !important; 
	}
	
	#shortDesc{
		font-size: 120% !important;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
	}
	/* div */#text_icono {
		font-size: 100%;
		font-weight: none;
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(1, 1, 1) !important;
	}
	
	.media {
		width: 95%; 
		height: 220%;
	}
	div.databox-map {
		width: 95%;
		height: 200px;   
		background-color: rgb(243, 244, 243);  
		margin-left: 2.5%;  
	} 
	.division {
		width: 95%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(111, 111, 111) !important;  
		margin: 0 auto;
	}
	
	.divisionContacto {
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid; 
	border-top-color: rgb(111, 111, 111) !important;
	 margin: 0 auto 10px; 
}
	div#contact {
		font-size: 15px; 
		padding: 0px 15px;
		margin-bottom: 0px;
		color: rgb(60, 74, 151) !important;
		text-align: justify;
	}
	#offer-panel {
		margin: 1% 5% 1%;
		background: none repeat scroll 0% 0% rgb(227, 7, 71);
		border-radius: 14px;
		padding: 8px; 
		color: rgb(0, 0, 0);
		position: relative;
	}
	#offer-panel div.wrapper {
		background:#FFFFFF;
		border-radius: 10px;
		padding: 5% 1%;
		overflow: hidden;
	}
	#contenedor-Offer {
		width: 95%;
		margin-left: 2.5%;
	}
	div#text_icono_contenedor {
		font-size: 120%;
		font-weight: none;
		font-family: "Avenir", Helvetica;
		color: rgb(128, 128, 128) !important;
		margin-left: 5%; 
		width:90%;
		font-weight:bold;
	}
	#text_icono_Offer {
	font-size: 120%;
	font-weight: none;
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	width: 95%;
	float: center; 
	 margin-left: 5%; 
}
	#boton-contenedor {
	
		 /* margin-left: 10%;  */
		float: right;
		margin-right: 15%;
	}
	#photoOffer{
		width: 70%;
		max-width:100;
		float: left;
		margin: 1%  5% 10%;
		border: 3px solid rgb(255, 255, 255);
		-moz-border: 3px solid rgb(255, 255, 255);
		-webkit-border: 3px solid rgb(255, 255, 255);
		
		box-shadow: 1px 1px 3px rgb(136, 136, 136)
		-moz-box-shadow: 1px 1px 3px rgb(136, 136, 136);
		-webkit-box-shadow: 1px 1px 3px rgb(136, 136, 136); 
		overflow: hidden;
	}
	
	.text_desc {
		font-size: 80%;
		font-weight: none;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		margin-bottom: 2px;
	}
	.text_desc_terminos {
	/*	font-size: 60%; */
		font-weight: none;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
	}
	.btn {
		width:95px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%;
		font-weight: none;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width:95px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	}
	.title_galery {
		background: #3D393A;
		width: 98%;
		margin-left:1%;
		margin-bottom: 1%;
	}
	.align_title_galery {
		font-size: 100%;
		font-weight: none;
		font-family: "Avenir", Helvetica;
		color: rgb(255, 255, 255) !important;
		margin-left: 15px;
	}
	.imagen-galery {
		width: 93%;
		margin-left:2.5%;
		border-left: 3px #3D393A; 
		border-bottom: 3px #3D393A; 
		border-right: 3px #3D393A; 
		
	}
	#align_desc_cont {
		float: left;
		margin-right: 2%;
		font-family: "Avenir", Helvetica;
	}
	
	.align_desc_contacto {
		font-weight: none;
		font-family: "Avenir", Helvetica;
		color: color: #111111 ;
		font-size: 110%;
		margin-left: 20%;
	}
	.align_desc_cont_sub { 
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		word-wrap: break-word;
	}
	
	#contenedor-data {
		width: 70%;
		text-align: justify; 
		margin-left: 23%;
		
	}
	#contenedor-data-c {
		width: 65%;
		margin-left: 23%; 
	}
	#datoContacto{
		width:65%;
	}
	#contenedor-data-boton { 
		margin-left: 67%;
	}
	
	#tilte-contact {
		font-size: 110%; 
		font-family: "Avenir", Helvetica;
		color: color: #111111;
	}
	table#compartir {
		margin-left: 1px;
	}
	
	.table-share{
		width : 33%;
		align : center;
	}
	div#compartir { 
		margin:0 auto;
		text-align: center; 
		width:95%;
		height: auto;
		
	}

	div#icon-share { 
		/* font-family: "Avenir", Helvetica;
		text-align: center;
		margin-left: 2.5%; */
		margin: 0 auto;
	}
	div#footer {
		font-size: 80%;
		font-family: "Avenir", Helvetica;
		background: #3D393A;
		color: rgb(255, 255, 255) !important;
		width: 95%;
		height: 10%;
		text-align: center;   
	}
	#CSSTableGenerator { 
	 width: 65%; 
	 border: 1px solid #3D393A; 
	
} 
td.horarios{
	border-bottom : 1px; 
	border-bottom: solid; 
	border-bottom-color: #3D393A;
}
#imgModulo{
	 width: 55px;
	} 
#linksCompartir{
	 width:90%;
	 margin-left:3%;
}
}