<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ejemplo</key>
		<string> Teléfono</string>
		<key>mensaje</key>
		<string>Número Telefónico</string>
		<key>expresion</key>
		<string>!^.*$!tel:</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+voice:tel</string>
		<key>text</key>
		<string>Teléfono</string>
		<key>image</key>
		<string>ctelefono.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> Teléfono</string>
		<key>mensaje</key>
		<string>Número Telefónico</string>
		<key>expresion</key>
		<string>!^.*$!tel:</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+voice:tel+x-mobile</string>
		<key>text</key>
		<string>Móvil</string>
		<key>image</key>
		<string>ccelular.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> Teléfono</string>
		<key>mensaje</key>
		<string>Número Telefónico</string>
		<key>expresion</key>
		<string>!^.*$!tel:</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+sms:tel</string>
		<key>text</key>
		<string>Teléfono SMS</string>
		<key>image</key>
		<string>csms.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> </string>
		<key>mensaje</key>
		<string>E-mail</string>
		<key>expresion</key>
		<string>!^.*$!mailto:</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+email:mailto</string>
		<key>text</key>
		<string>E-mail</string>
		<key>image</key>
		<string>cemail.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> Teléfono</string>
		<key>mensaje</key>
		<string>Número Fax</string>
		<key>expresion</key>
		<string>!^.*$!tel:</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+fax:tel</string>
		<key>text</key>
		<string>Fax</string>
		<key>image</key>
		<string>cfax.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> www.facebook.com/tufanpage</string>
		<key>mensaje</key>
		<string>Liga a tu cuenta de facebook</string>
		<key>expresion</key>
		<string>!^.*$!http://</string>
		<key>subcategoria</key>
		<string>facebook</string>
		<key>servicio</key>
		<string>E2U+web:http</string>
		<key>text</key>
		<string>Facebook</string>
		<key>image</key>
		<string>cfacebook.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> www.twitter.com/tucuenta</string>
		<key>mensaje</key>
		<string>Enlaza tu cuenta de Twitter</string>
		<key>expresion</key>
		<string>!^.*$!http://</string>
		<key>subcategoria</key>
		<string>twitter</string>
		<key>servicio</key>
		<string>E2U+web:http</string>
		<key>text</key>
		<string>Twitter</string>
		<key>image</key>
		<string>ctwitter.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> plus.google.com/tucuenta</string>
		<key>mensaje</key>
		<string>Liga a tu cuenta de google +</string>
		<key>expresion</key>
		<string>!^.*$!http://</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+web:http</string>
		<key>text</key>
		<string>Google+</string>
		<key>image</key>
		<string>cgoogle+.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> tucuenta</string>
		<key>mensaje</key>
		<string>Liga a tu cuenta de skype</string>
		<key>expresion</key>
		<string>!^.*$!skype:</string>
		<key>subcategoria</key>
		<string></string>
		<key>servicio</key>
		<string>E2U+x-voice:skype</string>
		<key>text</key>
		<string>Skype</string>
		<key>image</key>
		<string>cskype.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> www.linkedin.com/tuempresa</string>
		<key>mensaje</key>
		<string>Liga a tu cuenta de LinkedIn</string>
		<key>expresion</key>
		<string>!^.*$!http://</string>
		<key>subcategoria</key>
		<string>linkedin</string>
		<key>servicio</key>
		<string>E2U+web:http</string>
		<key>text</key>
		<string>LinkedIn</string>
		<key>image</key>
		<string>clinkedin.png</string>
	</dict>
	<dict>
		<key>ejemplo</key>
		<string> www.infomovil.com</string>
		<key>mensaje</key>
		<string>Liga a tu sitio web</string>
		<key>expresion</key>
		<string>!^.*$!https://</string>
		<key>subcategoria</key>
		<string>securewebsite</string>
		<key>servicio</key>
		<string>E2U+web:https</string>
		<key>text</key>
		<string>Website</string>
		<key>image</key>
		<string>csecureweb.png</string>
	</dict>
</array>
</plist>
